<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @if (account(); as account) {
      <ion-item>
        <ion-label>Signed in as</ion-label>
        <ion-note slot="end">{{
          account.displayName ?? account.email
        }}</ion-note>
      </ion-item>
    }
    <ion-item>
      <ion-label>Theme</ion-label>
      <ion-note slot="end">System</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Environment</ion-label>
      <ion-note slot="end">{{ environmentName }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>App version</ion-label>
      <ion-note slot="end">{{ appVersion }} ({{ commit }})</ion-note>
    </ion-item>
    <ion-item
      button
      detail="false"
      [disabled]="loggingOut()"
      (click)="confirmLogout()"
    >
      <ion-label color="danger">Log out</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
