<ol class="thread">
  @for (comment of comments(); track comment.id) {
    <li>
      <ng-container
        *ngTemplateOutlet="entry; context: { $implicit: comment }"
      ></ng-container>
      @if (comment.replies?.length) {
        <ol
          class="replies"
          [attr.aria-label]="'Replies to ' + author(comment)"
        >
          @for (reply of comment.replies; track reply.id) {
            <li>
              <ng-container
                *ngTemplateOutlet="entry; context: { $implicit: reply }"
              ></ng-container>
            </li>
          }
        </ol>
      }
    </li>
  }
</ol>

<ng-template
  #entry
  let-comment
>
  <article class="comment">
    <span
      class="avatar"
      aria-hidden="true"
      [style.background]="fill(comment)"
      >{{ initials(comment) }}</span
    >
    <div class="body">
      <div class="meta">
        <span class="author">{{ author(comment) }}</span>
        <span class="age">
          @if (isMine(comment)) {
            You ·
          }
          {{ age(comment) }}
          @if (comment.edited) {
            · edited
          }
        </span>
        @if (canWrite() && isMine(comment)) {
          <button
            type="button"
            class="more"
            aria-label="Comment actions"
            (click)="actions.emit(comment)"
          >
            <ion-icon
              name="ellipsis"
              aria-hidden="true"
            ></ion-icon>
          </button>
        }
      </div>
      <div
        class="bubble"
        [class.mine]="isMine(comment)"
      >
        <app-rich-text
          [body]="comment.body"
          [format]="comment.bodyFormat"
        />
      </div>
      @if (comment.reactions?.length || canReact()) {
        <ul
          class="reactions"
          aria-label="Reactions"
        >
          @for (reaction of comment.reactions; track reaction.emoji) {
            <li>
              <button
                type="button"
                class="reaction"
                [class.mine]="reaction.reactedByMe"
                [disabled]="!canReact()"
                [attr.aria-pressed]="!!reaction.reactedByMe"
                [attr.aria-label]="reactionLabel(reaction)"
                (click)="react.emit({ comment, emoji: reaction.emoji ?? '' })"
              >
                <span aria-hidden="true">{{ glyph(reaction.emoji) }}</span>
                <span aria-hidden="true">{{ reaction.count }}</span>
              </button>
            </li>
          }
          @if (canReact()) {
            <li>
              <button
                type="button"
                class="add-reaction"
                aria-label="Add reaction"
                (click)="addReaction.emit(comment)"
              >
                <ion-icon
                  name="smile-plus"
                  aria-hidden="true"
                ></ion-icon>
              </button>
            </li>
          }
        </ul>
      }
    </div>
  </article>
</ng-template>
