<ion-tabs>
  <!-- The id anchors toasts above the tab bar. -->
  <ion-tab-bar
    id="tab-bar"
    slot="bottom"
  >
    <ion-tab-button
      tab="my-work"
      href="/tabs/my-work"
    >
      <ion-icon
        aria-hidden="true"
        name="list-todo"
      ></ion-icon>
      <ion-label>My Work</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="projects"
      href="/tabs/projects"
    >
      <ion-icon
        aria-hidden="true"
        name="folder-kanban"
      ></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="inbox"
      href="/tabs/inbox"
    >
      <ion-icon
        aria-hidden="true"
        name="bell"
      ></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
